.articles-conainer {
  zoom: 100%;
  width: 80%;
  margin: 0 auto;
}
.articles-conainer h1 {
  font-size: 35px;
  line-height: 42px;
  font-style: normal;
  font-weight: 800;
  letter-spacing: 0px;
  color: white;
  margin: 25px;
  margin-bottom: 5px;
}

.articles-conainer img {
  width: 100%;
  height: 80vh;
}
.articles-conainer .time-span {
  color: #616161;
}
.articles-conainer p {
  color: #e0e0e0;
  font-size: 15px;
  line-height: 26px;
  font-style: normal;
  font-weight: 300;
}
.articles-conainer .share {
  margin-left: 10px;
  cursor: pointer;
  position: relative;
  display: inline-block;
}
.tooltiptext {
  opacity: 0;
  width: 40px;
  background-color: #303030;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 140%;
  right: 0%;
  margin-left: -60px;
}
.tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #303030 transparent;
}
.share:hover .tooltiptext {
  opacity: 1;
  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
}
.share-span-link {
  margin: 12px;
}
.share-span-link:hover {
  transition: 0.5s;
  -webkit-transition: 0.5s;
  color: #191919;
}
.articles-conainer section {
  margin: 25px;
}
.read-more {
  color: white;
  display: flex;
  width: 159px;
  height: 60px;
  margin: 25px;
  border: 1px solid #e5e5e5;
  align-items: center;
  justify-content: center;
  border-radius: 80px;

  font-size: 13px;
  letter-spacing: 3px;
}
.read-more:hover {
  transition: 0.7s;
  -webkit-transition: 0.7s;
  color: white;
  background-color: #616161;
}
.oneArticle-container {
  margin: 10vh 0;
}
.oneArticle-container h5 {
  margin-left: 25px;
  font-size: 18px;
  letter-spacing: -1px;
  color: #616161;
  font-weight: 700;
}
.article-contant p {
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 3px;
}
.load-more-btn {
  display: flex;
  justify-content: center;
  padding-bottom: 120px;
  margin-bottom: 65px;
}
.load-more-btn button {
  width: 159px;
  height: 60px;
  margin: 25px;
  border: 1px solid #616161;
  align-items: center;
  justify-content: center;
  border-radius: 80px;
  color: white;
  background-color: #616161;
  font-size: 13px;
  letter-spacing: 3px;
}
.load-more-btn button:hover {
  transition: 0.7s;
  -webkit-transition: 0.7s;
  border: 1px solid #303030;
  background-color: #303030;
  color: white;
}
