.header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 12;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
  height: 20vh;

  .nav-logo {
    width: 50vw;
  }
  .nav-logo img {
    height: 200px;
  }
  .nav-links {
    width: 50vw;
  }
  .nav-links ul {
    margin: 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
  }
  .nav-links li {
    display: block;
    width: 25%;
    margin: 0 5px;
    text-align: center;
  }

  .nav-links li a:hover {
    border: 2px solid white;
    border-radius: 25px;
    transition: 0.2s;
    -webkit-transition: 0.2s;
  }
  .home {
    border: 2px solid white;
    border-radius: 25px;
  }
  .nav-links a {
    display: block;
    color: white;
    padding: 8px 0;
    letter-spacing: 4px;
    font-weight: 400;
    font-size: 14px;
  }
  .nav-links a:hover {
    text-decoration: none;
  }
  .nav-social {
    width: 15vw;
  }
  .nav-social ul {
    margin: 0;
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
    float: right;
  }
  .nav-social li {
    height: 38px;
    width: 38px;
    border: 2px solid white;
    border-radius: 50%;
    margin-left: 10px;
    position: relative;
    .tooltiptext {
      opacity: 0;
      width: 120px;
      background-color: #303030;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 5px 0;
      position: absolute;
      z-index: 1;
      top: 140%;
      right: -125%;
      margin-left: -60px;
      &:after {
        content: "";
        position: absolute;
        bottom: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent #303030 transparent;
      }
    }
    &:hover {
      background-color: white;
      transition: 0.5s;
      -webkit-transition: 0.5s;
      a {
        color: #191919;
      }
      .tooltiptext {
        opacity: 0.8;
        transition: opacity 1s;
        -webkit-transition: opacity 1s;
      }
    }
  }

  .nav-social a {
    color: white;
    font-size: 22px;
  }

  .nav-social svg {
    display: block;
    margin: 6px auto;
  }
}
